@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
body{
  background-color: #614F89;
  color: #FEA4B9;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  padding: 30px 100px;
}
header .logo{
  position: relative;
  color: #FFF;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
  margin-left: 40px;
}
header ul li a{
  color: #FFF;
  text-decoration: none;
  /* https://youtu.be/js0fkkzmlv0?t=190 - falto "section.banner" en .html // Mar. 14 de mar 10:41 */
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
taq{
  d
}
